@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

body {
  color: rgb(var(--foreground));
  background: #f8fafc; /* Slate-50 */
  font-feature-settings: "rlig" 1, "calt" 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
